<!doctype html>
<html lang="en">

  <head>
    <style>
      body {
        text-align: center;
      }
      blockquote {
      text-align:center;
      }
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   {% block style %} {% endblock %}
    <!-- Page title -->
    <title> {% block title %}Escalator Tracker{% endblock %} </title>

  </head>


  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('root') }}">ESCALATOR TRACKER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <!--<li class="nav-item active">
            <a class="nav-link" href="{{ url_for('stats') }}">Escalator Stats<span class="sr-only">(current)</span></a>
	  </li>-->

	  <li class="dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">Go to Escalators
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="{{ url_for('floor', f1=2, f2=3) }}">Floors 2-3</a></li>
              <li><a class="nav-link" href="{{ url_for('floor', f1=2, f2=4) }}">Floors 2-4</a></li>
              <li><a class="nav-link" href="{{ url_for('floor', f1=3, f2=5) }}">Floors 3-5</a></li>
              <li><a class="nav-link" href="{{ url_for('floor', f1=4, f2=6) }}">Floors 4-6</a></li>
              <li><a class="nav-link" href="{{ url_for('floor', f1=5, f2=7) }}">Floors 5-7</a></li>
              <li><a class="nav-link" href="{{ url_for('floor', f1=6, f2=8) }}">Floors 6-8</a></li>
              <li><a class="nav-link" href="{{ url_for('floor', f1=7, f2=9) }}">Floors 7-9</a></li>
            </ul>
	  </li>

	
  </ul>


Welcome, {{ login_user }}!
            <a class="nav-link" href="{{ url_for('login') }}">Login<span class="sr-only">(current)</span></a>



    </nav>
    

    <!-- Page Content -->
    {% block page_content %}

    <h1>{% block h1%} {% endblock %}</h1>



    {% endblock %}
    
    {% block embed_tweets %}
    <div style="text-align:center;">
      <h3>Recent Escalator Tweet</h3><br>
      {{embedded_tweet}}
      <br><h3>Recent Escalator Status Update</h3><br>
      {{timeline_tweet}}
    </div>
    {% endblock %}
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
