<!-- moved bootstrap template in homepate.html to templates/base.html  -->

{% extends "base.html" %}

{% block page_content %}

{% block headers %}
<br>
{% endblock %}

<body>
<br>
<br>
<div class = "flash">
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
</div>
</div>


{% block svg %}
<svg width="400" height="400" id="pic" xmlns="http://www.w3.org/2000/svg">

</svg>

<br><br>
<!--<form method="POST" action="confirm">
  <input type="submit" id="working" name="status" value="Working"></input>
</form>
<form method="POST" action="confirm">
  <input type="submit" id="stopped" name="status" value="Stopped"></input>
</form>
<form method="POST" action="confirm">
  <input type="submit" id="broken" name="status" value="Broken"></input>
</form>-->
{% endblock %}

<br><br>




<script src="static/js/svg.js"></script>


{% endblock %}
