<!-- moved bootstrap template in homepate.html to templates/base.html  -->

{% extends "base.html" %}

{% block style %}
<style>

body {
   background-image: url("../static/img/stuy.jpg");
   background-size: 100% 100%;
}

p {
	background-color: lightsteelblue;
	padding: 5px;
}

h1 {
	padding: 15px;
}


</style>

{% endblock %}

<body>

{% block page_content %}

{% block headers %}


<h1>Welcome to the Stuyvesant High School Escalator Tracker!</h1>
<p>
Observe the current status of any Stuyvesant escalator, and feel free to update the status if there are any changes over the course of a given day
<br>
This is reliant on the honor system, so please be truthful, and do not abuse the buttons
<br>
All status updates will automatically be live-tweeted from the StuyTracker Twitter account, as shown below
<br>
Key: green means working, yellow means stopped, and red means broken
</p>
{% endblock %}




<div class = "flash">
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
</div>
</div>


{% block svg %}
<div> </div>
<!--<svg width="400" height="400" id="pic" xmlns="http://www.w3.org/2000/svg">

</svg>

<br><br>
<form method="POST" action="confirm">
  <input type="submit" id="working" name="status" value="Working"></input>
</form>
<form method="POST" action="confirm">
  <input type="submit" id="stopped" name="status" value="Stopped"></input>
</form>
<form method="POST" action="confirm">
  <input type="submit" id="broken" name="status" value="Broken"></input>
</form>-->
{% endblock %}

<br><br>





<script src="static/js/svg.js"></script>


{% endblock %}

</body>