<!-- moved bootstrap template in homepate.html to templates/base.html  -->

{% extends "base.html" %}

{% block title %}
Welcome {{ user }}!
{% endblock %}

{% block page_content %}


<body>
<br>
<br>
<div class = "flash">
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
</div>
</div>


<svg width="400" height="400" id="pic" xmlns="http://www.w3.org/2000/svg">

</svg>

<br><br>
<button id="working">Working</button>
<button id="stopped">Stopped</button>
<button id="broken">Broken</button>

<script src="static/js/svg.js"></script>

{% endblock %}
